# Telegram
TG_API_ID=your_api_id
TG_API_HASH=your_api_hash
TG_SESSION=bridge_session

# VK
VK_TOKEN=your_vk_bot_token
VK_GROUP_ID=your_vk_group_id

# VK user ID куда слать уведомления
VK_TARGET_USER_ID=your_vk_user_id
